<div id="navigation" class="menu withprimary">
   <div id="primary" class="clear-block">
<!--
   <ul class="links"><li class="menu-157 active-trail first active"><a href="/home" title="Home" class="active">Home</a></li>
-->
   <ul class="links"> 
     <li class="menu-157 active-trail first active"> <a href="/"> Home </a> </li>
     <li class="menu-157"> <a href="aboutHemal.html"> About Hemal </a> </li>
     <li class="menu-157"> <a href="films.html"> Films </a> </li>
<!--
     <li> <a href="blog.html"> Blog </a> </li>
-->
     <li class="menu-157 last"> <a href="contact.html"> Contact </a> </li>
   </ul>
</div>
<br>
