<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <!--
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        -->
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!--
        <style type="text/css" media="all">
        @import "film.css";.style1 {font-family: Garamond}
        </style>
        -->
        <link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/system.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/html-elements.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/tabs.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/icons.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/layout-garland.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/film.css?E" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/film-fixed.css?E" />
        <!--[if IE]>
        <link type="text/css" rel="stylesheet" media="all" href="/css/ie.css?E" />
        <![endif]-->
        <script LANGUAGE="JAVASCRIPT" TYPE="TEXT/JAVASCRIPT">
                <!-- Hide script from old browsers

                function VideoWindow(video) {
                        bookWindow = window.open(video, 'videoWin', 'width=700,height=600,scrollbars=none,top=130,left=130')
                        bookWindow.focus()
                }

                function HDVideoWindow(video) {
                        bookWindow = window.open(video, 'videoWin', 'width=900,height=600,scrollbars=none,top=130,left=130')
                        bookWindow.focus()
                }

                // End hiding script from old browsers -->
        </script>
    </head>
    <body>

    <body class="front not-logged-in node-type-page no-sidebar">
        <div id="page">

            <!-- Header content begins here -->
            <div id="header">
                <div id="skip-nav"><a href="#content">Skip to Main Content</a></div>
                    <div id="logo-title">
                        <a href="/"> <img id="logo" src="/images/film-logo.jpg" height="200" alt="Home"/> </a>
                        <div id="name-and-slogan">
                            <div id="site-name"><strong>
                                <a href="/" title="Home" rel="home">{{ site.name }}</a>
                            </strong>
                            </div>
                        </div> <!-- /name-and-slogan -->
                    </div> <!-- /logo-title -->
                    {% include navigation.html %}
                </div> <!-- /skip-nav -->
            </div> <!-- /header -->
          
            <!-- Main content begins here -->
            <div id="container" class="clear-block"> 
                <div id="main" class="column">
                    <div id="squeeze" class="clear-block">

                        {{ content }}

                    </div> <!-- /squeeze -->
                </div> <!-- /main -->
            </div><!-- /container -->

            <!-- Footer content begins here -->
            <div id="footer-wrapper">
                <div id="footer">
                    <div id="footer-message">
                        &copy; Manjusha Films, 2013. All rights reserved. 
                    </div>
                </div>
            </div>
        </div> <!-- /page -->

<!--
        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div id="footer-wrapper">
                <div id="footer">
            <div class="footer">
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div>
            </div>
-->
          </div>
        </div> <!-- /container -->

    </body>
</html>
